html, body{
	text-align: center;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
}

body{
	display: none;
}

hr{
	height: 2px;
	background-color: black;
}

#divForm{
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	width: 15%;
	height: 25%;
	text-align: center;
	margin: auto;
	margin-top: 1%;
}

#username{
	margin-top: 10%;
	text-align: center;
	line-height: 2em;
}

#password{
	margin-top: 5%;
	margin-bottom: 15%;
	text-align: center;
	line-height: 2em;
}

#submit{
	margin: auto;
}

#reset{
	margin-left: 10%;
}

input[type=button],
input[type=submit]{
	width: 30%;
	height: 2em;
	background-color: black;
	border: 1px solid white;
	border-radius: 3px 3px 3px 3px;
	color: white;
}

#e1, #e2, #e3{
	color: red;
}

#mainForm{
	text-align: center;
	margin: auto;
	height: 40%;
	/*width: 25%;*/
	margin-bottom: 1%;
}

#inputField{
	text-align: center;
	line-height: 2em;
	margin-right: 2%;
}

#main{
	width: 95%;
	margin: auto;
	margin-bottom: 2%;
}

#userStoryData, #releaseDataDiv{
	border: 2px solid black;
	text-align: left;
	padding: 2%;
	margin: auto;
	width: 90%;
}

#name, #owner, #desc{
	margin-bottom: 3%;
}

table{
	border-collapse: collapse;
}

td{
	padding: 5px;
}

tr th{
	text-align: left;
	padding-left: 1%;
}

tr td{
	padding-left: 1%;
}

table, th, td{
	border: 1px solid black;
}

iframe{
	width: 70%;
	height: 90%;
	margin-top: 1.5%;
}

#iframeDiv{
	border: 2px solid black;
	width: 95%;
	height: 60%;
	margin: auto;
}

#fetch{
	margin-top: 2%;
	width: 10%;
}

select{
	margin-top: 2%;
	margin-bottom: : 2%;
	font-weight: bolder;
	padding: 3px;
	border: 1px solid black;
}

#teamMembersDiv{
	border: 2px solid black;
	text-align: left;
	padding: 2%;
	width: 91%;
	margin: auto;
}

label{
	font-weight: bolder;
}

#tableDetails{
	width: 60%;
}